In [10]:
from typing import List
# from fastapi import Depends, FastAPI, HTTPException
import pandas as pd
import test_models as models
from test_database import SessionLocal, engine

from sqlalchemy.orm import Session
from sqlalchemy import func

In [2]:
models.Base.metadata.create_all(bind=engine)

In [3]:
with SessionLocal() as db:
    print(db.query(func.max(models.User.user_id)).scalar())
    db.close()

17164

In [28]:
with SessionLocal() as db:
    # reviewScore
    # reviewNum
    s= """
    select beer_id, count(beer_id), avg(reviewScore)
    from review
    group by beer_id
    order by avg(reviewScore) desc
    """

    # # steam_Rating
    # s="""
    
    # """
    # 
    # display(db.execute(s).all())
    display(pd.DataFrame(db.execute(s).all(), columns=['beer_id', 'count','revieScore_avg']))
    db.close()

    beer_id  count  revieScore_avg
0    580686      1        4.100000
1    135361   2796        3.732940
2      1088   3664        3.622817
3       647   3517        3.604834
4       814   2910        3.524811
..      ...    ...             ...
76     4007    902        1.814745
77    10726    165        1.800606
78      742   4076        1.797816
79      405   2403        1.687765
80      473   4429        1.545044

[81 rows x 3 columns]